---
import Base from '../layouts/Base.astro';
---
<Base title="About - Prompting BI">
  <article>
    <h1>About Prompting BI</h1>
    <p>
      This platform is to be a space for dialogue on how to navigate the everchanging
      world of BI, especially through the use of AI. Having this space, to debate and
      share ideas, is crucial to understanding the next generation of curating data.
    </p>
    <p><strong>Tommy Puglia</strong><br />CEO Puglia BI Consulting</p>
  </article>
</Base>
